/node_modules
/firebase-monitor/node_modules
__pycache__/syllables.cpython-313.pyc
firebase-monitor.zip
.DS_Store
.DS_Store
Word_Test_Document.docx
Word_Test_Document_smaller.docx
~$rd_Test_Document.docx
~$rd_Test_Document_smaller.docx
